* {
  box-sizing: border-box;
}
.e2_10 {
  overflow: hidden;
}
.e2_10 {
  background-color: rgba(255, 255, 255, 1);
  width: 1440px;
  height: 1300px;
  position: absolute;
}
.e2_13 {
  background-color: rgba(255, 255, 255, 1);
  width: 1440px;
  height: 53px;
  position: absolute;
  left: 0px;
  top: 0px;
}
.e2_23 {
  width: 166px;
  height: 33px;
  position: absolute;
  left: 20px;
  top: 10px;
}
.e101_13 {
  color: rgba(0, 0, 0, 1);
  width: 166px;
  height: 33px;
  position: absolute;
  left: 0px;
  top: 0px;
  font-family: Roboto;
  text-align: left;
  font-size: 28px;
  letter-spacing: 0;
  text-decoration: none;
}
.e101_20 {
  width: 402px;
  height: 113px;
  position: absolute;
  left: 150px;
  top: 88px;
}
.e201_3 {
  width: 402px;
  height: 113px;
  position: absolute;
  left: 0px;
  top: 0px;
}
.e302_3 {
  width: 318px;
  height: 100px;
  position: absolute;
  left: 0px;
  top: 0px;
}
.e201_2 {
  width: 100px;
  height: 100px;
  position: absolute;
  left: 0px;
  top: 0px;
}
.e101_16 {
  border-radius: 500px;
  background-color: rgba(196.00000351667404, 196.00000351667404, 196.00000351667404, 1);
  width: 100px;
  height: 100px;
  position: absolute;
  left: 0px;
  top: 0px;
}
.e2_9 {
  background-color: rgba(0, 0, 0, 1);
  width: 57.14285659790039px;
  height: 57.14285659790039px;
  position: absolute;
  left: 21.7142333984375px;
  top: 21.14288330078125px;
}
.e302_2 {
  width: 208px;
  height: 100px;
  position: absolute;
  left: 110px;
  top: 0px;
}
.e101_17 {
  color: rgba(0, 0, 0, 1);
  width: 208px;
  height: 33px;
  position: absolute;
  left: 0px;
  top: 20px;
  font-family: Roboto;
  text-align: left;
  font-size: 28px;
  letter-spacing: 0;
}
.e101_18 {
  color: rgba(0, 0, 0, 1);
  width: 208px;
  height: 23px;
  position: absolute;
  left: 0px;
  top: 63px;
  font-family: Roboto;
  text-align: left;
  font-size: 20px;
  letter-spacing: 0;
}
.e302_15 {
  width: 1137px;
  height: 56px;
  position: absolute;
  left: 150px;
  top: 236px;
}
.e302_5 {
  width: 120px;
  height: 56px;
  position: absolute;
  left: 0px;
  top: 0px;
}
.e302_46 {
  width: 100px;
  height: 36px;
  position: absolute;
  left: 10px;
  top: 10px;
  border-bottom: 5px solid rgba(255, 30.00000011175871, 0, 1);
}
.e302_6 {
  color: rgba(0, 0, 0, 1);
  width: 100px;
  height: 26px;
  position: absolute;
  left: 0px;
  top: 0px;
  font-family: Roboto;
  text-align: center;
  font-size: 22px;
  letter-spacing: 0;
  text-decoration: none;

}
.e302_7 {
  width: 120px;
  height: 46px;
  position: absolute;
  left: 242px;
  top: 0px;
}
.ei302_7_302_46 {
  width: 100px;
  height: 26px;
  position: absolute;
  left: 10px;
  top: 10px;
}
.ei302_7_302_6 {
  color: rgba(0, 0, 0, 1);
  width: 100px;
  height: 26px;
  position: absolute;
  left: 0px;
  top: 0px;
  font-family: Roboto;
  text-align: center;
  font-size: 22px;
  letter-spacing: 0;
  text-decoration: none;
}
.e302_9 {
  width: 120px;
  height: 46px;
  position: absolute;
  left: 484px;
  top: 0px;
}
.ei302_9_302_46 {
  width: 100px;
  height: 26px;
  position: absolute;
  left: 10px;
  top: 10px;
}
.ei302_9_302_6 {
  color: rgba(0, 0, 0, 1);
  width: 100px;
  height: 26px;
  position: absolute;
  left: 0px;
  top: 0px;
  font-family: Roboto;
  text-align: center;
  font-size: 22px;
  letter-spacing: 0;
  text-decoration: none;
}
.e302_11 {
  width: 121px;
  height: 46px;
  position: absolute;
  left: 726px;
  top: 0px;
}
.ei302_11_302_46 {
  width: 101px;
  height: 26px;
  position: absolute;
  left: 10px;
  top: 10px;
}
.ei302_11_302_6 {
  color: rgba(0, 0, 0, 1);
  width: 101px;
  height: 26px;
  position: absolute;
  left: 0px;
  top: 0px;
  font-family: Roboto;
  text-align: center;
  font-size: 22px;
  letter-spacing: 0;
  text-decoration: none;
}
.e302_13 {
  width: 168px;
  height: 46px;
  position: absolute;
  left: 969px;
  top: 0px;
}
.ei302_13_302_46 {
  width: 148px;
  height: 26px;
  position: absolute;
  left: 10px;
  top: 10px;
}
.ei302_13_302_6 {
  color: rgba(0, 0, 0, 1);
  width: 148px;
  height: 26px;
  position: absolute;
  left: 0px;
  top: 0px;
  font-family: Roboto;
  text-align: center;
  font-size: 22px;
  letter-spacing: 0;
  text-decoration: none;
}
.e302_86 {
  width: 524px;
  height: 68px;
  position: absolute;
  left: 150px;
  top: 533px;
}
.e302_87 {
  color: rgba(0, 0, 0, 1);
  width: 300px;
  height: 23px;
  position: absolute;
  left: 0px;
  top: 0px;
  font-family: Roboto;
  text-align: center;
  font-size: 20px;
  letter-spacing: 0;
}
.e302_88 {
  background-color: rgba(196.00000351667404, 196.00000351667404, 196.00000351667404, 1);
  width: 524px;
  height: 35px;
  position: absolute;
  left: 0px;
  top: 33px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
.e303_6 {
  width: 524px;
  height: 68px;
  position: absolute;
  left: 150px;
  top: 327px;
}
.e303_7 {
  color: rgba(0, 0, 0, 1);
  width: 236px;
  height: 23px;
  position: absolute;
  left: 0px;
  top: 0px;
  font-family: Roboto;
  text-align: center;
  font-size: 20px;
  letter-spacing: 0;
}
.e303_8 {
  background-color: rgba(196.00000351667404, 196.00000351667404, 196.00000351667404, 1);
  width: 524px;
  height: 35px;
  position: absolute;
  left: 0px;
  top: 33px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
.e303_0 {
  width: 524px;
  height: 68px;
  position: absolute;
  left: 763px;
  top: 533px;
}
.e303_1 {
  color: rgba(0, 0, 0, 1);
  width: 157px;
  height: 23px;
  position: absolute;
  left: 0px;
  top: 0px;
  font-family: Roboto;
  text-align: center;
  font-size: 20px;
  letter-spacing: 0;
}
.e303_2 {
  background-color: rgba(196.00000351667404, 196.00000351667404, 196.00000351667404, 1);
  width: 524px;
  height: 35px;
  position: absolute;
  left: 0px;
  top: 33px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
.e302_89 {
  width: 524px;
  height: 68px;
  position: absolute;
  left: 150px;
  top: 636px;
}
.e302_90 {
  color: rgba(0, 0, 0, 1);
  width: 75px;
  height: 23px;
  position: absolute;
  left: 0px;
  top: 0px;
  font-family: Roboto;
  text-align: center;
  font-size: 20px;
  letter-spacing: 0;
}
.e302_91 {
  background-color: rgba(196.00000351667404, 196.00000351667404, 196.00000351667404, 1);
  width: 524px;
  height: 35px;
  position: absolute;
  left: 0px;
  top: 33px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
.e303_9 {
  width: 517px;
  height: 63px;
  position: absolute;
  left: 150px;
  top: 430px;
}
.e303_10 {
  color: rgba(0, 0, 0, 1);
  width: 127px;
  height: 23px;
  position: absolute;
  left: 0px;
  top: 0px;
  font-family: Roboto;
  text-align: center;
  font-size: 20px;
  letter-spacing: 0;
}
.e304_23 {
  width: 517px;
  height: 30px;
  position: absolute;
  left: 0px;
  top: 33px;
}
.e304_19 {
  width: 136px;
  height: 30px;
  position: absolute;
  left: 0px;
  top: 0px;
}
.e304_16 {
  border-radius: 500px;
  width: 30px;
  height: 30px;
  position: absolute;
  left: 0px;
  top: 0px;
}
.e304_16 {
  border: 5px solid rgba(196.00000351667404, 196.00000351667404, 196.00000351667404, 1);
}
.e304_17 {
  color: rgba(0, 0, 0, 1);
  width: 91px;
  height: 30px;
  position: absolute;
  left: 45px;
  top: 0px;
  font-family: Roboto;
  text-align: center;
  font-size: 20px;
  letter-spacing: 0;
}
.e304_20 {
  width: 151px;
  height: 30px;
  position: absolute;
  left: 366px;
  top: 0px;
}
.e304_21 {
  border-radius: 500px;
  width: 30px;
  height: 30px;
  position: absolute;
  left: 0px;
  top: 0px;
}
.e304_21 {
  border: 5px solid rgba(196.00000351667404, 196.00000351667404, 196.00000351667404, 1);
}
.e304_22 {
  color: rgba(0, 0, 0, 1);
  width: 106px;
  height: 30px;
  position: absolute;
  left: 45px;
  top: 0px;
  font-family: Roboto;
  text-align: center;
  font-size: 20px;
  letter-spacing: 0;
}
.e303_3 {
  width: 524px;
  height: 68px;
  position: absolute;
  left: 763px;
  top: 636px;
}
.e303_4 {
  color: rgba(0, 0, 0, 1);
  width: 119px;
  height: 23px;
  position: absolute;
  left: 0px;
  top: 0px;
  font-family: Roboto;
  text-align: center;
  font-size: 20px;
  letter-spacing: 0;
}
.e303_5 {
  background-color: rgba(196.00000351667404, 196.00000351667404, 196.00000351667404, 1);
  width: 524px;
  height: 35px;
  position: absolute;
  left: 0px;
  top: 33px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
.e303_12 {
  width: 524px;
  height: 333px;
  position: absolute;
  left: 150px;
  top: 739px;
}
.e303_13 {
  color: rgba(0, 0, 0, 1);
  width: 96px;
  height: 23px;
  position: absolute;
  left: 0px;
  top: 0px;
  font-family: Roboto;
  text-align: center;
  font-size: 20px;
  letter-spacing: 0;
}
.e303_14 {
  background-color: rgba(232.00000137090683, 249.00000035762787, 253.0000001192093, 1);
  width: 524px;
  height: 300px;
  position: absolute;
  left: 0px;
  top: 33px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
.e303_15 {
  width: 524px;
  height: 333px;
  position: absolute;
  left: 763px;
  top: 739px;
}
.e303_16 {
  color: rgba(0, 0, 0, 1);
  width: 260px;
  height: 23px;
  position: absolute;
  left: 0px;
  top: 0px;
  font-family: Roboto;
  text-align: center;
  font-size: 20px;
  letter-spacing: 0;
}
.e303_17 {
  background-color: rgba(232.00000137090683, 249.00000035762787, 253.0000001192093, 1);
  width: 524px;
  height: 300px;
  position: absolute;
  left: 0px;
  top: 33px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
.e303_27 {
  width: 158px;
  height: 42px;
  position: absolute;
  left: 333px;
  top: 885px;
}
.e303_30 {
  background-color: rgba(36.00000165402889, 160.00000566244125, 237.0000010728836, 1);
  width: 158px;
  height: 42px;
  position: absolute;
  left: 0px;
  top: 0px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
.e303_31 {
  color: rgba(255, 255, 255, 1);
  width: 126px;
  height: 26px;
  position: absolute;
  left: 16px;
  top: 8px;
  font-family: Roboto;
  text-align: left;
  font-size: 22px;
  letter-spacing: 0;
}
.e303_37 {
  width: 158px;
  height: 42px;
  position: absolute;
  left: 946px;
  top: 885px;
}
.e303_35 {
  background-color: rgba(36.00000165402889, 160.00000566244125, 237.0000010728836, 1);
  width: 158px;
  height: 42px;
  position: absolute;
  left: 0px;
  top: 0px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
.e303_36 {
  color: rgba(255, 255, 255, 1);
  width: 126px;
  height: 26px;
  position: absolute;
  left: 16px;
  top: 8px;
  font-family: Roboto;
  text-align: left;
  font-size: 22px;
  letter-spacing: 0;
}
.e303_38 {
  width: 271px;
  height: 49px;
  position: absolute;
  left: 584px;
  top: 1168px;
}
.ei303_38_303_35 {
  background-color: rgba(255, 30.00000011175871, 0, 1);
  width: 271px;
  height: 49px;
  position: absolute;
  left: 0px;
  top: 0px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
.ei303_38_303_36 {
  color: rgba(255, 255, 255, 1);
  width: 239px;
  height: 33px;
  position: absolute;
  left: 16px;
  top: 8px;
  font-family: Roboto;
  text-align: left;
  font-size: 28px;
  letter-spacing: 0;
}
